<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GIP_WinkelProductenSysteem.Properties.Settings.dbGIPWinkelConnectionString"
            connectionString="Data Source=ZIASPC;Initial Catalog=dbGIPWinkel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GIP_WinkelProductenSysteem.Properties.Settings.dbWinkelConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbWinkel.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GIP_WinkelProductenSysteem.Properties.Settings.WinkelDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ZIAS\School\2021-2022\GIP\Projects\GIP\GIP-WinkelProductenSysteem\dbWinkel\WinkelDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>